* {
	box-sizing: border-box;
}
body {
	background-color: black;
	color: white;
    margin: 0 auto;
    background-image: url("../images/background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	text-align: center;
	justify-content: center;
}
.btn {
	height: 48px;
	width: 48px;
	cursor: pointer;
	opacity: 0.5;
}
#red {
	background-color: red;
}
#blue {
	background-color: blue;
}
#yellow {
	background-color: gold;
}
#green {
	background-color: green;
}

.opacity {
	opacity: 1.0;
}